
.list-item-wrap {
    border: 1px solid #ddd;
    padding: 8px 10px;
    display: flex;
    margin: 10px;
    width: calc(50% - 20px);
}

.selected {
    background: #aed3fa;
    color: white;
}

.name {
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
}

.mins-away {
    font-style: italic;
    font-size: 12px;
    color: #bbb;
}

.avatar {
    height: 32px;
    width: 32px;
    display: inline-block;
    margin-right: 8px;
    pointer-events: none;
}

.content-wrap {
    display: inline-block;
    position: relative;
    width: 100%;
    pointer-events: none;
}

.min-away-white {
    color: #fff;
}

.rating {
    position: absolute;
    right: 0;
    top: 6px;
    font-size: 12px;
    color: orange;
    font-weight: bold;
}

.route, .seats, .car{
    font-size: 12px;
    margin-right: 4px;
    line-height: 16px;
}
