.upper-section {
    height: 140px;
    background: #E5E3E6;
    padding: 4px 8px;
}

.search-input-wrap {
    background-color: #fff;
    padding: 0 8px;
    margin-top: 8px;
    height: 56px;
}

.search-input-wrap .field-lbl {
    margin-top: 4px;
    font-size: 14px;
}

.search-input-wrap .input {
    margin-top: 6px;
}

.list-wrap {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 326px;
    padding: 12px 0;
    margin: 8px;
    box-shadow: 0 0 10px #c8c8c8;
    align-items: center;    
}

.confirm-btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 4px;
    cursor: pointer;
}

.disable-btn {
    pointer-events: none;
    background-color: lightgrey;
}

@media (min-width: 1100px) {
    .upper-section {
        display: flex;
        padding: 8px 12px;
        height: 170px;
    }

    .search-input-wrap .field-lbl {
        margin-top: 12px;
        font-size: 16px;
    }
    .search-input-wrap .input {
        margin-top: 8px;
    }

    .search-input-wrap  {
        height: 80px;
        padding: 0 12px;
    }

    .confirm-btn {
        margin-top: 12px;
    }

    .list-wrap {
      max-height: 400px;
    }
}